.header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content min-content;
    gap: 15px;
    position: relative;
    &__top-line {
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-between;
        text-align: center;
        background-color: #F5F5FA33;
        margin: 0 -15px;
        padding: 12px 15px;
    }
    a {
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none; 
    }
    &__lang {
        display: flex;
        list-style: none;
        padding-left: 0;
        li {
            margin-right: 14px;
            cursor: pointer;
        }
        a {
            color: #ffffff;
            font-size: 12px;
            font-weight: 700;
            text-decoration: none;
            padding: 4px 6px;
            border-radius: 4px;
            &:hover {
                background-color: #F0145A;
                color: #ffffff;
            }
        }    
    }
    &__list {
        display: flex;
        align-items: center;
        // color: #ffffff;
        &>div {
            padding: 0 20px;
        }
    }
    &__address {
        display: none;
        color:#ffffff;
        text-align: right;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &::before {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            color: #ffffff;
            position: relative;
            background-color: #ffffff;
            z-index: 2;
        }
        &::after {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #ffffff;
        }
    }
    &__fb {
        display: none;
        &::before {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            color: #ffffff;
        }
    }
    &__bottom-line {
        display: flex;
        justify-content: space-between;
    }
    &__logo-box {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    &__img {
        max-width: 100%;
        height: auto;
    }
    &__bread {
        display: none;
        font-weight: 400;
        font-style: Regular;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #ffffff;
        &::before {
            content: '';
            background-image: url(../img/icons/slash.svg);
            width: 21px;
            height: 47px;
        }
    }
    &__burger {
        width: 32px;
        height: 32px;
        padding: 0;
        border: none;
        background-color: inherit;
        cursor: pointer;
    }
    &__menu-list {
        display: none;
        align-items: center;
        list-style: none;
        li {
            margin-right: 10px;
        }
        a {
            text-decoration: none;
            color: #ffffff;
            text-align: right;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            &:hover {
                border-bottom: 2px solid #F0145A;
                color: #F0145A;
            }
        }
        
    }
}




@media screen and (min-width: 340px) {
    .header {
        grid-template-columns: 1fr auto;
        grid-template-rows: min-content min-content min-content;
        gap: 15px;
    }
    .header__top-line {
        justify-content: space-between;
        align-items: center;
    }
    .header__burger {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: min-content min-content min-content;
        gap: 15px;
    }
    .header__top-line {
        justify-content: flex-start;
        background-color: transparent;
        padding-top: 50px;
    }

    .header__bottom-line {
        justify-content: center;
        gap: 15px;
    }
    
    .header__address {
        display: flex;
        align-items: center;
    }    
    .header__address::before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        color: #ffffff;
        position: relative;
        z-index: 2;
    }
    .header__address::after {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        color: #ffffff;
    }
    
    .header__fb {
        display: block;
        &::before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            color: rgb(255, 255, 255);
            position: relative;
            z-index: 2;
        }
    }
    .header__bottom-line {
        display: flex;
        flex-direction: column;
        &__bread {
            display: flex;
        }
    }
    .header__burger {
        display: none;
    }
    .header__menu-list {
        display: flex;
        padding-left: 0;
    }

}


@media screen and (min-width: 992px) {
    .header {
        grid-template-columns: 1fr auto;
        grid-template-rows: min-content min-content ;
        gap: 15px;
    }
    .header__top-line {
        justify-content: flex-end;
    }
    .header__bottom-line {
        flex-direction: row;
        justify-content: space-between;
    }
    
}



    