.posts {
    background: #F5F5FA;
    &__box {
    padding-top: 30px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
    }
    &__top-box {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .date {
            color: #B3B3BA;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        h3 {
            color: #24A3FF;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    &__label {
        color: #24A3FF;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &__title {
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
        background-clip: text;
        background-clip: text;
        color: transparent;
        margin-top: 5px;
    }
    &__post {
        .photo {
            width: 100%;
            border-radius: 8px 8px 0 0;
        }
    
    }
}

@media screen and (min-width: 768px) {
    .posts__post { 
        .photo {
            width: 100%;
            background: url(<path-to-image>) lightgray 50% / cover no-repeat;
        }
    }
}
