* {
    margin: 0;
    box-sizing: border-box;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip:rect(0 0 0 0);
    overflow: hidden;
}

.body {
    font-family: "Montserrat", Tahoma, sans-serif;
    font-size: 16px;
    background-color: #F5F5FA;
}

.wrapper {
    max-width: 1350px;
    min-width: 375px;
    padding: 0 15px;
    margin: 0 auto;
}

.fon {
    background: url(../img/h.svg) no-repeat center top,
    linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0 0 12px 12px;
    margin-bottom: 50px;
    position: relative;
    &::after {
        content: "";
        height: 10px;
        border-radius: 0 0 12px 12px;
        background-color: #CACADB;
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: -10px;
    }
    &::before {
        content: "";
        height: 10px;
        border-radius: 0 0 12px 12px;
        background-color: #E7E7F2;
        position: absolute;
        left: 40px;
        right: 40px;
        bottom: -20px;
    }
}