@font-face {
    font-family: 'Cera Pro';
    src: url('../font/CeraPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../font/CeraPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../font/CeraPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../font/CeraPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../font/CeraPro-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF;
    font-family: "Cera Pro", sans-serif;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper{
    max-width: 1220px;
    min-width: 991px;
    margin: 0 auto;
    padding: 0 10px
}

.img-responsive{
    max-width: 100%;
    height: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0 17px 0;
    border-bottom: 1px solid rgba(191, 192, 192, 0.5);
}

.nav{
    display: flex;
    list-style: none;
}

.nav li{
    margin-right: 50px;
    position: relative;
}

.nav li a{
    text-decoration: none;
    color: #3D3D3D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav > li > a:hover{
    color: #3D3D3D;
    font-weight: 700;
    border-bottom: #46A358 3px solid;
    padding-bottom: 25px;
    transition-duration: 300ms;
    transition-property: border-bottom;
}

.nav li:hover .nav-inner{
    display: block;
}

.nav-inner{
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    list-style: none;
    padding: 10px 7px;
    background-color: #EDF6EE;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #3D3D3D;
}

.nav-inner li{
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.nav-inner li a:hover{
    display: flex;
    justify-content: space-between;
    background-color: #46A358;
    background-image: url(../img/erow.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding: 10px 7px;
    color: #fff;
}

.nav-inner-inner{
    display: none;
    position: absolute;
    top: -100px;
    left: 100%;
    width: 240px;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #EDF6EE;
    list-style: none;
    padding-left: 15px;
}

.nav-inner-inner li{
    width: 100%;
}

.nav-inner-inner li a{
    display: flex;
    justify-content: space-between;
    padding: 7px 80px 8px 0;
    align-items: center;
}

.nav-inner li:last-child:hover .nav-inner-inner{
    display: block;
}

.box-login{
    display: flex;
    align-items: center;
    gap: 30px;
}

.search{
    cursor: pointer;
}

.cart{
    position: relative;
    cursor: pointer;
}

.cart .label{
    position: absolute;
    top: -8px;
    right: -8px;
    width: 16px;
    height: 16px;
    background: #46A358;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smol-btn{
    display: flex;
    font-size: 16px;
    border-radius: 6px;
    background: #46A358;
    border: none;
    padding: 8px 17px 7px 17px;
    color: #fff;
    cursor: pointer;
    align-items: center;
    line-height: normal;
    transition-duration: 300ms;
}

.smol-btn:hover{
    background-color: #398448;
}

.smol-btn_icon{
    margin-right: 8px;
}

.smol-btn_text{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    margin-top: 12px;
}

.hero-content{
    max-width: 600px;
    padding-left: 43px;
}

.title{
    color: #3D3D3D;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
}

.hero-label{
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-top: -20px;
    margin-bottom: 7px;
}

.title span{
    color: #46A358;
}

.hero-offer{
    color: #727272;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 5px;
}

.hero-btn{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 11px 26px 10px;
    border-radius: 6px;
    background: #46A358;
    border: none;
    color: #fff;
    margin-top: 44px;
    cursor: pointer;
    transition-duration: 300ms;
}

.hero-btn:hover{
    background-color: #398448;
}

.catalog{
    display: flex;
    justify-content: space-between;
    margin: 46px -10px 0 -10px;
}

.left-block{
    width: 25%;
    margin-right: 20px;
    padding: 0 10px;
    background: #FBFBFB;
}

.categories-title{
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-left: 16px;
    padding-top: 14px;
}

.categories{
    list-style: none;
    margin-top: 7px;
    padding-left: 27px;
}

.categories li a{
    text-decoration: none;
    color: #4E4C4C;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    transition-duration: 300ms;
    transition-property: font-weight;
}

.categories li a:hover{
    color: #46A358;
    font-weight: 700;
}

.price-range{
    position: relative;
    margin-top: 36px;
    width: 90%;

}

.price_range-title{
    margin-bottom: 20px;
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

#slider-range{
    margin-bottom: 15px;
    width: 90%;
    margin-left: 0;
}

.ui-slider{
    height: 4px;
    background: rgba(70, 163, 88, 0.20);
    border-radius: 2px;
}

.ui-slider .ui-slider-range{
    position: absolute;
    z-index: 1;
    height: 4px;
    background-color: #46A358;
    border-radius: 2px;
}

.ui-slider-handle{
    position: absolute;
    z-index: 1;
    width: 21px;
    height: 21px;
    background-color: #46A358;
    border-radius: 50%;
    border: 3px solid #fff;
    transform: translateY(-50%);
    margin-top: 2px;
}

.label_for-amount{
    margin-left: 6px;
}

.label_for-amount label{
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.price_range-button{
    margin-top: 16px;
    margin-left: 6px;
    border-radius: 6px;
    border: none;
    background-color: #46A358;
    padding: 8px 23px 7px 23px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
    transition-duration: 300ms;
}

.price_range-button:hover{
    background-color: #3b8b4b;
}

.box-checkbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 46px;
}

.box-checkbox-title{
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
}

.box-checkbox p{
    margin-left: 10px;
}

.checkbox-text{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 40px;
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.checkbox-text::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    width: 24px;
    height: 24px;
    border:1px solid #3D3D3D;
    border-radius: 4px;
    background-color: #fff;
}

.checkbox-input:checked + .checkbox-text::before{
    background-image: url(../img/checkbox.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.banner{
    margin-top: 80px;
}

.right-block{
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 0 10px;
}

.right-block_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
}

.rubrics{
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
}

.rubrics li a{
    text-decoration: none;
    color: #3D3D3D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition-duration: 300ms;
}

.rubrics li a:hover{
    color: #46A358;
    border-bottom: #46A358 2px solid;
}

.select{
    margin-right: 5px;
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    border: none;
    appearance:none;
    cursor: pointer;
    transition: 300ms;
}

.sort label{
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
}

.erow-select{
    display: inline-block;
    transition-duration: 300ms;
}

.sort label:hover .erow-select{
    transform: rotate(180deg);
}

.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.product-item{
    padding: 0 10px;
    width: 33.333%;
    border-top: 2px solid transparent;
    margin-bottom: 70px;
    transition-duration: 300ms;
}

.product-card{
    position: relative;
}

.label-card{
    background-color: #46A358;
    color: #FFF;
    position: absolute;
    top: 14px;
    left: 0;
    z-index: 10;
    padding: 5px 10px;
}

.label-card span{
    text-transform: uppercase;
}

.product-card_img{
    margin-bottom: 12px;
    background: #FBFBFB;
}

.product-card_img_4{
    margin-bottom: -12px;
}

.product-card_icons{
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    color: #3D3D3D;
    width: 135px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: 300ms;
}

.product-card_icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background-color:#FBFBFB;
    transition-duration: 300ms;    
}

.product-card_icons a:hover path{
    fill: #46A358;
}

.product-item:hover .product-card_icons{
   opacity: 1;
}

.product-item:hover{
    border-top: 2px solid #46A358;
}

.product-card h3{
    color: #3D3D3D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 6px;
}

.product-card p{
    color: #46A358;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.pages-nav{
    display: flex;
    justify-content: end;
    gap: 10px;
    list-style: none;
    margin-top: 90px;

}

.pages-nav a{
    text-decoration: none;
    border-radius: 4px;
    background-color: #fff;
    color: #676768;
    font-size: 14px;
    border: 1px solid #E5E5E5;
    width: 35px;
    height: 35px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    transition-duration: 300ms;
}

.pages-nav a.active{
    background: #46A358;;
    color: #ffffff;
}

.pages-nav a:hover{
    background: #46A358;;
    color: #ffffff;
}

.summer-cactus{
    display: flex;
    padding-top: 100px;
    gap: 20px;
}

.left-box{
    display: flex;
    align-items: center;
    background-color:#FBFBFB;
}

.left-box_content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.left-box_content h3{
    width: 150px;
    color: #3D3D3D;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.left-box_content p{
    color: #727272;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-right: 20px;
    margin-bottom: 23px;
}

.mo-btn{
    display: flex;
    align-items: center;
    gap: 2px;
    border-radius: 6px;
    background: #46A358;
    padding: 11px 28px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    transition-duration: 300ms;
}

.mo-btn:hover{
    background: #237233;
}

.right-box{
    display: flex;
    align-items: center;
    background-color:#FBFBFB;
}

.right-box_content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right-box_content h3{
    width: 150px;
    color: #3D3D3D;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.right-box_content p{
    color: #727272;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-right: 20px;
    margin-bottom: 23px;
}

.blog{
    padding-top: 132px;
}

.blog-title{
    color: #3D3D3D;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 15px;
}

.blog-subtitle{
    color: #727272;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 35px;
}

.posts{
    display: flex;
    margin: 0 -10px;
}

.post{
    width: 25%;
    padding: 0 10px;
}

.post-wrap{
    background-color: #FBFBFB;
}

.post-label{
    color: #46A358;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-top: 15px;
}

.post-title{
    max-width: 200px;
    color: #3D3D3D;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-top: 5px;
}

.post-subtitle{
    color: #727272;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    min-width: 255px;
}

.post-btn{
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 6px;
    gap: 3px;
}

.post-btn:hover{
    color: #237233;
}

.form{
    display: flex;
    padding: 0 -10px;
    margin-top: 100px;
    background-color: #FBFBFB;
}

.form_left-block{
    display: flex;
    width: 60%;
    padding: 0 10px;
    gap: 50px;
}

.form-card{
   padding: 0 10px; 
}

.input-form{
    display: flex;
    margin-top: 18px;
    margin-bottom: 17px;
}

.form-card-title{
    color: #3D3D3D;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-top: 15px; 
}

.form-card-description{
    color: #727272;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
}

.form_right-block{
    width: 30%;
    padding: 0 10px;
    margin-left: auto;
}

.form-title{
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 18px;
}

.input-text{
    display: block;
    max-width: 354px;
    height: 40px;
    padding: 10px;
    padding-right: 60px;
}

.btn-sub{
    padding: 12px 17px 12px 34px;
    border-radius: 0 6px 6px 0;
    background-color: #46A358;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    cursor: pointer;
    transition-duration: 300ms;
}

.btn-sub:hover{
    background-color: #3d8e4d;
}

.form-description{
    color: #727272;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.footer{
    width: 100%;
}

.footer-head{
    padding: 26px 0 26px 0;
    margin-top: 27px;
    background: rgba(70, 163, 88, 0.10);
}

.footer-wrap{
    max-width: 1220px;
    min-width: 991px;
    display: flex;
    margin: 0 auto;
}

.footer-wrap .logo{
    margin-right: 110px;
}

.contacts{
    display: flex;
    gap: 60px;
}

.map{
    display: flex;
    align-items: center;
    gap: 9px;
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
}

.mail{
    display: flex;
    align-items: center;
    gap: 9px;
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
}

.tel{
     display: flex;
    align-items: center;
    gap: 9px;
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
}

.footer_main-wrapper{
    max-width: 1220px;
    min-width: 991px;
    margin: 0 auto;
    background-color: #FBFBFB;
}

.footer-content{
    padding-top: 32px;
    display: flex;
    justify-content: start;
    gap: 100px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.20);
}

.account{
    list-style: none;
    padding-left: 0;
}

.account li a{
    text-decoration: none;
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
}

.account li a:hover{
    color: #295f34;
    font-weight: 600;
}

.help{
    list-style: none;
}

.help li a{
   text-decoration: none;
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
    transition-duration: 300ms; 
}

.help li a:hover{
    color: #295f34;
    font-weight: 600;
}

.footer-categories{
    list-style: none;
}

.footer-categories li a{
    text-decoration: none;
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
    transition-duration: 300ms;
}

.footer-categories li a:hover{
   color: #295f34;
    font-weight: 600; 
}

.facebook{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../img/Facebook.svg')no-repeat center;
    border-radius: 4px;
    border: 1px solid rgba(70, 163, 88, 0.20);
    cursor: pointer;
    transition-duration: 300ms;
}

.facebook:hover{
    transform: scale(1.6);
}

.instagram{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../img/instagram.svg')no-repeat center;
    border-radius: 4px;
    border: 1px solid rgba(70, 163, 88, 0.20);
    margin-left: 10px;
    cursor: pointer;
    transition-duration: 300ms;
}

.instagram:hover{
    transform: scale(1.6);
}

.twitter{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../img/twitter.svg')no-repeat center;
    border-radius: 4px;
    border: 1px solid rgba(70, 163, 88, 0.20);
    margin-left: 10px;
    cursor: pointer;
    transition-duration: 300ms;
}

.twitter:hover{
    transform: scale(1.6);
}

.linkedin{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../img/linkedin.svg')no-repeat center;
    border-radius: 4px;
    border: 1px solid rgba(70, 163, 88, 0.20);
    margin-left: 10px;
}

.linkedin:hover{
    transform: scale(1.6);
}

.union{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../img/union.svg')no-repeat center;
    border-radius: 4px;
    border: 1px solid rgba(70, 163, 88, 0.20);
    margin-left: 10px;
    cursor: pointer;
    transition-duration: 300ms;
}

.union:hover{
    transform: scale(1.6);
}

.socialMedia{
    padding-left: 150px;
}

.social-title{
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 20px;
}

.banking-title{
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-top: 33px;
    margin-bottom: 13px;
}

.footer-footer{
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 13px;
    margin-top: 7px;
}